@import url(http://fonts.googleapis.com/css?family=Trochut:700|Raleway:400,300,700);
body {
  background-color: rgba(14, 10, 2, 0.87);
  font-family: 'Raleway', sans-serif;
  color: whitesmoke;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 9em;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 0;
}
h2 {
  text-align: center;
  letter-spacing: 2px;
  font-weight: 400;
}
nav ul {
  text-align: center;
  background-color: rgba(211, 224, 235, 0.43);
  margin-bottom: 0;
}
nav ul li {
  margin: 20px;
  list-style: none;
  display: inline-block;
  color: white;
  font-weight: 700;
}
nav ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #8f1129;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-color: cover;
}
#about {
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  font-size: 1.25em;
  color: #fff;
  background-color: rgba(19, 14, 8, 0.52);
  letter-spacing: 1px;
  line-height: 1.5em;
}
#about h2 {
  text-align: center;
  letter-spacing: 2px;
}
.bkgd {
  background: url('../images/thegrowlers.jpg') no-repeat;
  background-size: 100%;
}
#disco .album {
  overflow: hidden;
}
#disco .album h3 {
  font-size: 2em;
  text-align: center;
  background-color: rgba(211, 224, 235, 0.43);
  padding: 10px;
  letter-spacing: 2px;
}
#disco .album img {
  display: block;
  float: left;
  margin-left: 300px;
}
#disco .album ul {
  list-style: none;
  margin-left: 450px;
  padding-left: 300px;
}
#disco .album ul li {
  margin: 5px;
}
#disco .album ul li a {
  text-decoration: none;
  text-align: center;
}
#tours {
  background: url('../images/thegrowlers2.jpg') no-repeat;
  background-size: cover;
}
#tours h2 {
  font-size: 2.5em;
  margin-top: 0;
}
#tours p {
  letter-spacing: 2px;
  background-color: rgba(9, 17, 24, 0.55);
  text-align: center;
  padding: 30px;
}
#tours p .strong {
  font-size: 1.5em;
}
.videos {
  display: block;
  margin-left: 330px;
}
