<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>About the Growlers</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body>
  <header>
    <h1>The Growlers</h1>
    <h2>The Unofficial Fan Page</h2>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/tour">Tour</a></li>
      <li><a href="/discography">Discography</a></li>
      <li><a href="http://thegrowlers.com/" target="_blank">Official Website</a></li>
      <li><a href="https://twitter.com/theGROWLERS" target="_blank">Twitter</a></li>
      <li><a href="https://www.facebook.com/losGrowlers" target="_blank">Facebook</a></li>
    </ul>
  </nav>
  <div class="bkgd">
  <article id="about">
  <h2>When tall boys turn into champagne...</h2>
  <p>The Growlers are a rock/pop group formed in Long Beach, California.
  The band consists of Brooks Nielson (vocals), Scott Montoya (bass guitar &amp; vocals), 
  Matt Taylor (lead guitar &amp; vocals), and Brian Stewart (drums &amp; vocals). 
  The Growlers sound is best described as SoCal, surfer, grunge-rock with a dash a psychodelia.
  </p>
  <p>Meggings tofu freegan typewriter, cliche Vice beard Odd Future PBR&amp;B. Pop-up leggings 
  flexitarian, organic single-origin coffee Brooklyn Vice artisan roof party Tumblr Austin. 
  Gastropub chillwave tousled, stumptown semiotics Vice Cosby sweater pickled banjo butcher 
  Carles Banksy biodiesel deep v. Roof party brunch meggings typewriter Echo Park, drinking 
  vinegar polaroid American Apparel Helvetica art party. Kogi sustainable umami, roof party 
  meggings 3 wolf moon direct trade selfies. +1 Brooklyn VHS bicycle rights, gluten-free Bushwick 
  four loko meh Pitchfork McSweeney's chambray cray ethical. Before they sold out pug twee gastropub, 
  hoodie Schlitz artisan.
  </p>
  </article>
</div>
</body>
</html>

