<!doctype html>

<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/style.css">
<title>Discography</title>
</head>
<body>
<header>
  <h1>The Growlers</h1>
  <h2>The Unofficial Fan Page</h2>
</header>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/tour">Tour</a></li>
    <li><a href="/discography">Discography</a></li>
    <li><a href="http://thegrowlers.com/" target="_blank">Official Website</a></li>
    <li><a href="https://twitter.com/theGROWLERS" target="_blank">Twitter</a></li>
    <li><a href="https://www.facebook.com/losGrowlers" target="_blank">Facebook</a></li>
  </ul>
</nav>
<section id="disco">
  <article>
    <div class="album">
      <h3>Are You in Or Out?</h3>
      <img src="/images/inorout.jpg" alt="Are You in or Out?">
      <ul>
        <li>Something Someone Jr.</li>
        <li>A Man With No God</li>
        <li>Red Tide</li>
        <li>Swallowed Whole</li>
        <li>Old Cold River</li>
        <li>Hoopity Hip</li>
        <li>Wet Dreams</li>
        <li>Strangers Road</li>
        <li>Heehaw Stomp</li>
        <li>Barnacle Beat</li>
        <li>Wandering Eyes</li>
        <li>Tijuana</li>
        <li>Lenny Sinpablo Juliano 36th</li>
        <li>Black Jungle Supreme</li>
        <li>Old 86 Legs</li>
        <li>Acid Rain</li>
        <li>Empty Bones</li>
        <li>Swamp Stomp</li>
      </ul>
    </div>
    <div class="album">
      <h3>Hot Tropics</h3>
      <img src="/images/hottropics.jpg" alt="Hot Tropics">
      <ul>
        <li>Graveyards Full</li>
        <li>Nosebleed Sun</li>
        <li>What it is</li>
        <li>The Moaning Man from Shanty Town</li>
        <li>Sea Lion Goth Blues</li>
        <li>Badlands</li>
        <li>Let It Be Known</li>
        <li>Camino Muerto</li>
        <li>Underneath Our Palms</li>
        <li>Hula Hula Hideout</li>
      </ul>
    </div>
    <div class="album">
      <h3>Hung At Heart</h3>
      <img src="/images/hungatheart.jpg" alt="Hung at Heart">
      <ul>
        <li>Someday</li>
        <li>Naked Kids</li>
        <li>Salt on a Slug</li>
        <li>One Million Lovers</li>
        <li>No Need For Eyes</li>
        <li>Living in a Memory</li>
        <li>Pet Shop Eyes</li>
        <li>In Between</li>
        <li>Burden of the Captain</li>
        <li>Row</li>
        <li>Its No Use</li>
        <li>Use me for your Eggs</li>
        <li>Derka Blues</li>
        <li>Beach Rats</li>
        <li>The Fruit is for Everyone</li>
      </ul>
    </div>
    <div class="album">
      <h3>Gilded Pleasures</h3>
      <img src="/images/gildedpleasures.jpg" alt="Gilded Pleasures">
      <ul>
        <li>Dogheart II</li>
        <li>Hiding Under Covers</li>
        <li>Tell it how it is</li>
        <li>Humdrum Blues</li>
        <li>Ol' Rat Face</li>
        <li>Change in Your Veins</li>
        <li>Pretend I'm Gay</li>
        <li>Ego of Man</li>
        <li>Nobody Owns You</li>
      </ul>
    </div>
  </article>
</section>
</body>
</html>

