<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
<body>
  <header>
    <h1>The Growlers</h1>
    <h2>The Unofficial Fan Page</h2>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/tour">Tour</a></li>
      <li><a href="/discography">Discography</a></li>
      <li><a href="http://thegrowlers.com/" target="_blank">Official Website</a></li>
      <li><a href="https://twitter.com/theGROWLERS" target="_blank">Twitter</a></li>
      <li><a href="https://www.facebook.com/losGrowlers" target="_blank">Facebook</a></li>
    </ul>
  </nav>
  <!--<img src="/images/cosmic-high-five.jpg" alt="The Growlers: Cosmic High Five">-->
  <section>
    <video autoplay loop muted id="bgvid">
      <source src="../videos/monotonia.mp4" type="video/mp4">
    </video>
  </section>
</body>
</html>
