<!doctype html>

<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Tour</title>
  </head>
<body>
  <header>
    <h1>The Growlers</h1>
    <h2>The Unofficial Fan Page</h2>
  </header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/tour">Tour</a></li>
      <li><a href="/discography">Discography</a></li>
      <li><a href="http://thegrowlers.com/" target="_blank">Official Website</a></li>
      <li><a href="https://twitter.com/theGROWLERS" target="_blank">Twitter</a></li>
      <li><a href="https://www.facebook.com/losGrowlers" target="_blank">Facebook</a></li>
      
    </ul>
  </nav>
  <section id="tours">
  <h2>Upcoming Shows!</h2>
    <p><span class="strong">Friday, August 1, 2014</span><br/>
    Conges Annules @ Carre Rotondes<br/>
    1 rue de l'acierie, Luxembourg<br/>
    Set: 4:00 PM<br/>
    All Ages
    </p>
    <p><span class="strong">Saturday, August 2, 2014</span><br/>
    Micro Festival @ Espace 251 Nord<br/>
    Rue Vivegnis 251, Liège, Belgium<br/>
    Set: 2:00 PM<br/>
    All Ages
    </p>
    <p><span class="strong">Sunday, August 3, 2014</span><br/>
    Les Nuits Secretes @ To Be Announced<br/>
    Aulnoye-Aymeries, France<br/>
    Set: 8:00 PM<br/>
    All Ages
    </p>
    <p><span class="strong">Monday, August 4, 2014</span><br/>
    MS Treue<br/>
    Schlachte Anleger 5, Bremen, Germany<br>
    Set: 8:00 PM<br/>
    All Ages<br/>
    <p><span class="strong">Wednesday, August 6, 2014</span><br/>
    Oyanatt @ John Dee<br/>
    Torggata 16, Oslo, Norway<br/>
    Set: 8:00 PM<br/>
    18+
    </p>
    <p><span class="strong">Friday, August 8, 2014</span><br/>
    Way Out West @ Slottsskogen<br/>
    Göteborg, (Sweden)<br/>
    Set: 8:00 PM<br/>
    18+
    </p>
  </section>
  <div class="videos">
    <iframe width="640" height="360" src="//www.youtube.com/embed/oukEcOFYV1Y" frameborder="0" allowfullscreen></iframe>
    <iframe width="640" height="360" src="//www.youtube.com/embed/Kdx9KhNU0Kc" frameborder="0" allowfullscreen></iframe>
  </div>
</body>
</html>

